.wrapper{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    position: relative;
    top:1341px
}

.head{
    font-family: "Inter";
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}