
.wrapper{
    display: flex;
    flex-direction: row;
    width: 344px;
    height: 109px;
    border-radius: 14px;
}

.wrapper:hover{
    background-color: rgba(227, 183, 72, 1);
}

.wrapper:hover .name,
.wrapper:hover .cases {
    color: rgba(55, 55, 55, 1);
}

.details{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    top: 25px;
}

.image{
    position: relative;
    left: 26px;
    top: 18px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.name{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    width: 119px;
    color: var(--color-white);
    margin: 0px;
}

.cases{
    width: 69px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--color-white);
    margin: 0px;
}
